* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #D8D8D8;
    background-color: black;
}

.top_section {
    padding: 2.3rem;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 9rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../../public/assets/background.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo_and_menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo_and_menu i {
    font-size: 2.5rem;
}

.menu_items {
    margin-left: 1.5rem;
}

.menu_items ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    font-size: 1.2rem;

}

.right_icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right_icons i {
    font-size: 1.5rem;
}


.profile_picture {
    padding: 10px;
    width: auto;
    height: 32px;
    background-color: #252bc5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.head_text_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
}

.head_text_container h2 {
    font-size: 4.5rem;
    color: white;
    font-weight: bold;
}

.head_text_container p {
    font-size: 1.3rem;
    margin-bottom: 2rem;

}

.head_text_container button {
    padding: 0.8rem 1.5rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
}

.head_text_container button:first-of-type {
    color: black;
    background-color: white;
    font-weight: bold;
}
.head_text_container button:last-of-type {
    background-color: rgba(255, 255, 255, 0.2);
}


.trending_movies_container h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: white;
}
.trending_movies_container
{
    position: relative;
    overflow: hidden;

}
.trending_movies_cards {
    width: 100%;
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.movie_card {
    min-width: 200px;
    border-radius: 12px;
    overflow: hidden;

}

.movie_card img {
    width: 100%;
    display: block;
}



.movie_categories_container {
    padding: 2.3rem;
    padding-top: 0px;
    background: black;
}

.movie_categories_container .categories button {
    padding: 0.5rem 1.1rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}
.movie_categories_container .categories .active_button
{
    color: black;
    background-color: white;
    font-weight: bold;
}


.categories {
    margin-bottom: 2.5rem;
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.filtered_movies_container {
    overflow: hidden;
}
.filtered_movies_container h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: white;
}

.filtered_movies_cards {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 1.5rem;
    transition: transform 0.5s ease-in-out;
    scroll-behavior: smooth;
}



#ham {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu_items ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 1rem;
    }
    .menu_items ul.show {
        display: flex;
    }
    #ham {
        display: block;
    }
    .navbar_container {
        justify-content: space-between;
    }
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .movie {
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
  .movie img {
    width: 100%;
    border-radius: 8px;
  }
  .movie h3 {
    font-size: 1rem;
    margin: 10px 0;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    overflow-y:scroll
  }
  .detail{
    background-color: blue;
    height: 100%;
    width: 100%;
  }
  .modal.show {
    visibility: visible;
    opacity: 1;
  }
  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    text-align: center;
  }
  .modal-content img {
    width: 100%;
    border-radius: 8px;
  }
  .modal-content h2 {
    margin: 15px 0;
  }
  .modal-content p {
    margin: 10px 0;
  }
  .close-btn {
    background: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  .pagination {
    margin: 20px 0;
    text-align: center;
  }
  .pagination button {
    margin: 0 10px;
    padding: 5px 15px;
    cursor: pointer;
  }


.slider_buttons {
    margin-top: 1rem;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.movie_categories_container .prev, .movie_categories_container .next {
    background: none;
}