* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #D8D8D8;
    background-color: black;
}

.top_section {
    padding: 2.3rem;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../../public/assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 2rem;
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.logo_and_menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo_and_menu i {
    font-size: 2.5rem;
}

.menu_items {
    margin-left: 1.5rem;
}

.menu_items ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    align-items: center;
    font-size: 1.2rem;

}

.right_icons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right_icons i {
    font-size: 1.5rem;
}


.profile_picture {
    padding: 10px;
    width: auto;
    height: 32px;
    background-color: #252bc5;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}
.head_text_container {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.head_text_container h2 {
    width: 700px;
    line-height: 4rem;
    height: 150px;
    font-size: 4.5rem;
    color: white;
    font-weight: bold;
}

.head_text_container p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    height: 150px;
    width: 700px;


}

.head_text_container button {
    padding: 0.8rem 1.5rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
}

.head_text_container button:first-of-type {
    color: black;
    background-color: white;
    font-weight: bold;
}
.head_text_container button:last-of-type {
    background-color: rgba(255, 255, 255, 0.2);
}


.trending_movies_container h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: white;
}
.trending_movies_container
{
    position: relative;
    overflow: hidden;

}
.trending_movies_cards {
    width: 100%;
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.movie_card {
    min-width: 200px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

}
.movie_card:hover
{
    transform: scale(1.03);
}

.movie_card:active
{
    transform: scale(0.97);
}
.movie_card img {
    width: 100%;
    display: block;
}



.movie_categories_container {
    padding: 2.3rem;
    padding-top: 0px;
    background: black;
}

.movie_categories_container .categories button {
    padding: 0.5rem 1.1rem;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
}
.movie_categories_container .categories .active_button
{
    color: black;
    background-color: white;
    font-weight: bold;
}


.categories {
    margin-bottom: 2.5rem;
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.filtered_movies_container {
    overflow: hidden;
}
.filtered_movies_container h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: white;
}

.filtered_movies_cards {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 1.5rem;
    transition: transform 0.5s ease-in-out;
    scroll-behavior: smooth;
}



#ham {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {

    .menu_items ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 1rem;
    }
    .menu_items ul.show {
        display: flex;
    }
    #ham {
        display: block;
    }
    .navbar_container {
        justify-content: space-between;
    }
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .movie {
    width: 200px;
    text-align: center;
    cursor: pointer;
  }
  .movie img {
    width: 100%;
    border-radius: 8px;
  }
  .movie h3 {
    font-size: 1rem;
    margin: 10px 0;
  }

  .detail{
    background-color: blue;
    height: 100%;
    width: 100%;
  }
  
  
  .pagination {
    margin: 20px 0;
    text-align: center;
  }
  .pagination button {
    margin: 0 10px;
    padding: 5px 15px;
    cursor: pointer;
  }


.slider_buttons {
    margin-top: 1rem;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.movie_categories_container .prev, .movie_categories_container .next {
    background: none;
}


.mod-container
{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(99, 98, 98, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.popup
{
    position: relative;
    width: 90%;
    height: 95%;
    background-color: whitesmoke;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    border-radius: 20px;
    & p>strong
    {
        color: red;
    }
}

.popup h2{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-transform: uppercase;
}

.all-info
{
    display: flex;
    & img
    {
        width: 25%;
        height: 100%;
        border-radius: 10px;
    }
}

.text-info
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}



.popup p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(85, 83, 83);
    font-family: 'Courier New', Courier, monospace;
}

.close
 {
    position: absolute;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background: rgba(151, 25, 25);
    top: 15px;
    right: 15px;
}
.icon{
    font-size: 24px;
    color: white;
    background: none;
}


.close:hover
 {
    background: rgba(151, 25, 25);

    transform: scale(1.05);
    transition: 0.3s ease;
} 
.close:active
{
    transform: scale(0.95);
}