
@media (max-width: 768px) {

    .menu_items ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        padding: 1rem;
    }
    .menu_items ul.show {
        display: flex;
    }
    #ham {
        display: block;
    }
    .navbar_container {
        justify-content: space-between;
    }
}



/* Scroll Bar */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: rgb(39, 38, 38);
}
::-webkit-scrollbar-thumb{
    background: brown;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(89, 24, 24);
}

.active_button
{
    color: black;
    background-color: white;
    font-weight: bold;
}